.botonrojo:hover{
    cursor: no-drop;
}
.mano:hover{
    cursor: pointer;
}


.topnav {
  background-color: #80ffd4;
  overflow: hidden;
  border-radius: 10px;
}

.topnav a{

  float: left;
  margin-left: 20%;
  color: Black;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
}

.topnav a:hover {
  background-color: #00e699;
  color: black;
}
.arriba{
  color: black;
  text-decoration: underline;
  padding-right: 50px;
}

#listado{
  margin: auto;
  margin-top: 100px;
  font-size: 20px;
  line-height: 2;
  text-align: center;
}
.abajo{
padding-right: 50px;
  color: red;
}

/* Registro */

h3{
  text-align: center;
}
.reg{
  margin: auto;
  width: 400px;
}
form{
  text-align: center;
}

.estilo{
  font-family: cursive;
  color: red;

}

footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  color: Black;
  text-align: center;
  background-color: #80ffd4;
  overflow: hidden;
  border-radius: 10px;
}
