body, html {
	height: 100%;
	background-repeat: no-repeat;
	position: relative;
	background-image: url("background.jpg");
}

#particles-js{
  	width: 100%;
  	height: 100%;
  	background-size: cover;
  	background-position: 50% 50%;
  	position: fixed;
  	top: 0px;
  	z-index:1;
}

#log{
	width: 250px;
  height: 250px;
	padding: 100px;
	margin-left: 44.5%;
	margin-top: 12%;
	border-radius: 10px;
	background-color: rgba(111,153,150,.8);
	position: absolute;
	z-index:99999;
	box-shadow: 12px 11px 58px 6px rgba(0,0,0,1.9);

}

#us{
  position:  absolute;
  margin-top: -70px;
  color: white;
  margin-left: -20px;
  font-size: 30px;
}

select{
    float: left;
    margin-left: -50px;
    position: absolute;
    margin-top: 60px;
    cursor:pointer;
}


input[type=submit] {
    position: absolute;
    margin-top: 55px;
    margin-left: 30px;
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    border-radius: 5px;
}
